/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.container{
    width: 800px;
    margin: auto;
    background-color:#fff;
}

body{
    font: 16px/28px arial, sans-serif;
    background-color: #eaeaea;
    color: #333;
    background-image: url(img/watercolor.webp);
}

.Header{
    padding: 20px;
    padding: 10px;
}

.Header .judul{
    font-size: 40px;
    font-weight: bold;
}

.Header ul li{
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;
}

.Header a{
    text-decoration: none;
    color: salmon;
    padding: 3px;

}

.Header a:hover{
    background-color: lightskyblue;
    color: white;
}

.hero{
    height: 350px;
    background-image:url(img/alex-knight-j4uuKnN43_M-unsplash.jpg) ;
    background-size: cover;
    background-position: 0 -100px;
    border-bottom: 5px solid lightskyblue;
    border-top: 5px solid salmon;
}

.content{
    padding: 20px;
}

.content h2{
    font-size: 28px;
    font-weight: bold;
}

.content .penulis{
    font-size: 11px;
    margin-top: -5px;
}


.content .penulis a{
    color: salmon;
    text-decoration: none;
}
.content p{
    margin-bottom: 20px;
    font-size: 13px;
}

.footer .copy{
    color: #fff;
    text-align: center;
}
.footer{
    background-color: #333;
    padding: 10px;
}